@using OnlineStore.Models.Products
@model ProductViewModel;

<tr>
    <td>
        <img src="@Model.ImageUrl" class="table-img" alt="@Model.Name">
    </td>
    <td>@Model.Name</td>
    <td>@Model.Category</td>
    <td>
        <span class="text-danger fw-bold">@Model.Price.ToString("0.000")</span>
        <br>
        @if(Model.OldPrice.HasValue)
        {
            <small class="text-decoration-line-through text-muted">@Model.OldPrice.Value.ToString("0.000")</small>
        })
    </td>
    <td>
        @if (Model.IsActive)
        {
            <span class="badge bg-success status-badge">Active</span>
        }
        else
        {
            <span class="badge bg-secondary status-badge">Inactive</span>
        })

        @if(Model.IsFeatured)
        {
            <span class="badge bg-primary status-badge">@Model.IsFeatured</span>
        }

        @if (Model.IsOnSale)
        {
            <span class="badge bg-danger status-badge">@Model.IsOnSale</span>
        })
        
    </td>
    <td class="action-buttons">
        <a asp-controller="Products" asp-action="Edit" asp-rout-id="@Model.Id" class="btn btn-sm btn-primary">
            <i class="fas fa-edit"></i>
        </a>
        <button class="btn btn-sm @(Model.IsFeatured ? "btn-success": "btn-outline-success")" 
        data-bs-toggle="tooltip" title="Toggle Featured" onclick="toggleStatus(@Model.Id, 'Sale')">
            <i  class="fas fa-star"></i>
        </button>
        <button class="btn btn-sm @(Model.IsOnSale ? "btn-danger" : "btn-outline-danger")"
                data-bs-toggle="tooltip" title="Toggle Sale" onclick="toggleStatus(@Model.Id, 'active')">
            <i class="fas fa-tag"></i>
        </button>
        <button class="btn btn-sm @(Model.IsActive? "btn-warning" : "btn-outline-warning")"
                data-bs-toggle="tooltip" title="Toggle Active" onclick="toggleStatus(@Model.Id, 'active')">
            <i class="fas fa-toggle-on"></i>
        </button>
        <button class="btn btn-sm btn-danger"
                data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@Model.Id" >
            <i class="fas fa-trash"></i>
        </button>
    </td>
</tr>